- project = project || @project
.git-clone-holder.input-group
  %p
    To access this repo from a git client, first generate an API webkey, which will be of the form
    &lt;endpointUrl&gt;#&lt;token&gt;. The repo will then be at &lt;endpointUrl&gt;/gitlab/repo.git,
    protected by &lt;token&gt; as a password. You can use any username.
