%ul.project-settings-nav.sidebar-subnav
  = nav_link(path: 'projects#edit') do
    = link_to edit_project_path(@project), class: "stat-tab tab " do
      %i.fa.fa-pencil-square-o
      %span
        Project
