= render "home_panel"

%div.git-empty
  %p
    This repository is currently empty. Below are some examples for how you might get started, assuming
    that your endpointUrl is "https://api.sandstorm.example.com".
  %fieldset
    %legend Create a new repository
    %pre.dark
      :preserve
        mkdir new_project
        cd new_project
        git init
        touch README.md
        git add README.md
        git commit -m "first commit"
        git remote add origin https://new_project@api.sandstorm.example.com/gitlab/repo.git
        git push -u origin master

  %fieldset
    %legend Push an existing Git repository
    %pre.dark
      :preserve
        cd existing_git_repo
        git remote add origin https://existing_git_repo@api.sandstorm.example.com/gitlab/repo.git
        git push -u origin master

